.tree {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  position: relative;
}
.tree .dropdown {
  position: inherit;
}
.tree .dropdown-menu {
  position: absolute !important;
}
.tree .pointer {
  cursor: pointer;
}
.tree .tree {
  margin-left: 20px;
}
.tree .tree-edit-btn,
.tree .tree-remove-btn {
  display: none;
}
.tree .tree-item {
  padding: 2px 0;
}
.tree .tree-item.drop-allowed .tree-item-name {
  background-color: rgba(255, 0, 0, 0.3);
}
.tree .tree-item.tree-item-selected > .tree-item-name {
  padding: 0 1px;
  border: 1px solid #4684ee;
  background-color: #549dee;
}
.tree .tree-item i {
  width: 8px !important;
  text-align: center;
}
.tree .tree-item .no-children {
  display: inline-block;
  width: 8px;
}
.tree .tree-item .tree-item-name {
  display: inline-block;
  line-height: 22px;
  height: 22px;
  padding: 0 2px;
  cursor: pointer;
}
.tree .tree-item .tree-item-name:hover {
  background-color: rgba(161, 197, 238, 0.2);
}
.tree .tree-item .tree-item-name:hover .tree-edit-btn,
.tree .tree-item .tree-item-name:hover .tree-remove-btn {
  display: inline-block;
}
.tree .tree-item form {
  display: inline-block;
}
.tree .tree-item form input {
  width: auto;
}
.ri-tree-parents-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ri-tree-parents-list li {
  display: inline-block;
  cursor: pointer;
  color: #777777;
}
.ri-tree-parents-list li:last-child,
.ri-tree-parents-list li:first-child,
.ri-tree-parents-list li:after {
  color: #000000;
}
.ri-tree-parents-list li:not(:last-child):after {
  content: '/';
  display: inline-block;
  width: 10px;
  text-align: center;
}
